.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-5);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding: 0 var(--space-4);
  }
}